{% extends "base.html" %}

{% block title %}
    Transactions {{block.super}}
{% endblock %}

{% block content %}

<div style="text-align: center;">
    <span>
    <form action="/new_tx/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Create new transaction</button>
    </form>
    </span>

    <div>
        Transactions:
        <span>
        <form action="/update_txs/" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Check for new transactions</button>
        </form>
        </span>
    {% for tx in transactions %}
        <p>tx-id: <a href="/tx/{{ tx.tx_id }}">{{ tx.tx_id }}</a></p>
    {% endfor %}
    </div>
</div>

{% endblock %}
